.text,
.title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0.02rem 0.3rem;
}

.text {
	font-weight: 300;
	justify-self: start;
}

.title {
	font-weight: 600;
}

.wrapper {
	font-size: 0.9rem;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	margin: 0;
}
