.button {
	font: inherit;
	padding: 0.5rem 1.5rem;
	background: transparent;
	border-radius: 5px;
	border: 1px solid #00ccff;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
}

.button:focus {
	border: 1px dotted #00ccff;
}

.button:hover,
.button:active {
	background: #00ccff;
	color: #fff;
}

.button--alt {
	background: #d400d4;
	color: #fff;
	border: 1px solid #000;
}

.button--alt:hover,
.button--alt:active {
	color: #000;
	background: #fff;
	border: 1px solid #d400d4;
}

.button--inverse {
	border: 1px solid #d400d4;
	color: #fff;
}

.button--inverse:hover,
.button--inverse:active {
	color: white;
	background: #d400d4;
}

.button--danger {
	background: #772121;
	border-color: #fff;
}

.button--danger:hover,
.button--danger:active {
	background: #dd2020;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
	background: #ccc;
	color: #979797;
	border-color: #ccc;
	cursor: not-allowed;
}

.button--big {
	font-size: 1.5rem;
}

.button--default {
	font-size: 1rem;
}

.button--small {
	font-size: 0.8rem;
}
