.button {
	font: inherit;
	padding: 0.5rem 1.5rem;
	border: none;
	border-radius: 5px;
	background: #5b4fc2;
	color: white;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
}

.button:focus {
	border: 1px dotted #5b4fc2;
}

.button:hover,
.button:active {
	background: #ff4382;
}

.button--inverse {
	background: #b6aff7;
	color: #000000;
}

.button--inverse:hover,
.button--inverse:active {
	color: white;
	background: #ff0055;
}

.button--danger {
	background: #830000;
	border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
	background: #f34343;
	border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
	background: #ccc;
	color: #979797;
	border-color: #ccc;
	cursor: not-allowed;
}

.button--big {
	font-size: 1.5rem;
}

.button--default {
	font-size: 1rem;
}

.button--small {
	font-size: 0.8rem;
}
