@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

* {
	box-sizing: border-box;
}

html {
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.center {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.srText {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	-webkit-clip-path: inset(50%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
}
